.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background: var(--hero-bg-color);

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  @include font('Roboto', 26px, 900, 1.6, 0.06em);
  color: var(--bg-color);

  text-transform: uppercase;
  font-style: normal;
  margin-bottom: 30px;

  max-width: 360px;

  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    @include font('Roboto', 44px, 900, 1.36, 0.06em);
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
  }
}

.hero__overlay {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero-bg-phone-min.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (mix-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-bg-phone@2x-min.jpg);
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-bg-tablet-min.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (mix-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero-bg-tablet@2x-min.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-bg-desktop-min.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (mix-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/hero-bg-desktop@2x-min.jpg);
    }
  }
}

.hero__btn {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--bg-color);
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
}

/* .hero-btn */
