.menu-toggle {
  background: none;
  border: none;
  padding: 0;
  //   position: absolute;
  //   right: 15px;
  margin-left: auto;

  cursor: pointer;
}
.menu-icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.navigation {
  height: 60px;
}
