h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

/* ul */
ul {
  list-style: none;
}
.list {
  list-style: none;
  text-decoration: none;
}

/* .list */

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
