:root {
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --bg-color: #ffffff;
  --third-color: #757575;
  --footer-text-color: #ffffff99;
  --black-color: #000;
  --hero-bg-color: #2f303a;
  --added-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --border-bottom-color: #ececec;
  --icons-color: #AFB1B8;
  --backdrop-color: #00000033;
  --example-backdrop-color: #2196F3E5;
}